{% extends('base.html.twig') %}

{% block body %}

<div class="container">
    <h1>A contact.post tábla adatai (tesztelésre)</h1>
    <a href="create">Új rekord</a>

    <table class="table table-bordered table-hover" id="table-data">
        <thead>
            <tr>
                <th>Id</th>
                <th>Név</th>
                <th>Email</th>
                <th>Üzenet</th>
            </tr>
        </thead>
        <tbody>
            {% for post in posts %}
                <tr>
                    <td>{{ post.id }}</td>
                    <td>{{ post.name }}</td>
                    <td>{{ post.email }}</td>
                    <td>{{ post.message }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}